@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    background-color: rgb(23, 23, 23);
    color: white;
}

.hover-trigger .hover-target {
    display: none;
}

.hover-trigger:hover .hover-target {
    display: block;
}

.create-account-bg {
    background: linear-gradient(90deg, rgba(23,23,23,1) 0%, rgba(255,255,255,0) 25%),
    linear-gradient(0deg, rgba(23,23,23,1) 0%, rgba(23,23,23,1) 10%, rgba(255,255,255,0) 30%),
    linear-gradient(270deg, rgba(23,23,23,1) 0%, rgba(255,255,255,0) 25%);
}

.modal {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    outline: 2px solid transparent;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.75);
    -webkit-transition: 0.5s;
    overflow: auto;
    transition: all 0.3s linear;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
